<!-- Portfolio Grid Section -->
    <section id="speakers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="">Upcoming Movies from Gods Own Country Films</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
            {% assign titles =  site.data.twenty_17.posters_new | map: 'title' | join: ','  | split: ',' | uniq %}    
            {% for title in titles %}
                
            <div class="col-md-4 col-sm-6 speakers-item">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                      {% assign cls = "active" %}
                       {% for post in site.data.twenty_17.posters_new | where: 'title', title %}
                        <div class="item {{ cls }}">
                              <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal">
                                <img src="../css/2017_style/img/poster/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                              </a>
                              <div class="carousel-caption">
                                    {{post.location}}
                              </div>
                        </div>
                        {% assign cls = "" %}
                        {% endfor %}
                      </div>
                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </div>
                    <div class="speakers-caption">
                        <h4>{{ title }}</h4>
                        <br>
                        <!-- Single button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            Book Tickets <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                              {% assign countries =  site.data.twenty_17.posters_new | where: 'title', title | map: 'country' | join: ','  | split: ',' | uniq %}    
                              {% for country in countries %}
                              <li>
                                  {% assign loccount =  site.data.twenty_17.posters_new | where: 'title', title %}
                                      {% if 1 > 1 %}
                                        <a class="dropdown-item" href="/{{country | downcase}}">{{country}} <span class="caret"></span></a>
                                      {% else %}
                                        <a class="dropdown-item" href="/{{country | downcase}}">{{country}} </a>  
                                      {% endif %}
                              </li>                               
                               {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </section>
