{% include 2016_css/bootstrap.min.css %}
{% include 2016_css/agency.css %}
{{ content }}
html {
    scroll-behavior: smooth;
  }

.dropdown .dropdown-menu{
    background-color: #1a242f;
}
.speakers-item img{
    max-height:395px;
}
