{% include 2016_css/bootstrap.min.css %}
{% include 2016_css/agency.css %}
{{ content }}
html {
    scroll-behavior: smooth;
  }

.dropdown .dropdown-menu{
    background-color: #1a242f;
}
.speakers-item img{
    max-height:395px;
}
.glyphicon-chevron-left::before{
    content: "\2190";
}
.glyphicon-chevron-right::before{
    content: "\2192";
}
.carousel-control.right, .carousel-control.left{
    background:none;
}
.caret-right-link{
        position: relative;
}
.caret-right-link span::after{
        content: "";  
        position: absolute;
        right: 0px;
        height: 0px;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 6px solid transparent;
        border-left-color: #7b8a8b;
}
#speakers .dropdown-menu > li > a:hover, #speakers .dropdown-menu > li > a:focus{
    color: #000000;
}

.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}
@media(min-width:768px) {
    .navbar-default-color {
        padding: 10px 0;
        background-color: #3cb371e5;
        border-bottom: 1px solid #fff !important;
    }
    .navbar-default .nav li a:hover,
    .navbar-default .nav li a:focus {
        color: #1a242f;
    }

    footer {
        background-color: #3cb371e5;
    }
}
