{% include 2016_css/bootstrap.min.css %}
{% include 2016_css/agency.css %}
{{ content }}
html {
    scroll-behavior: smooth;
  }

.dropdown .dropdown-menu{
    background-color: #1a242f;
}
.speakers-item img{
    max-height:395px;
}
.glyphicon-chevron-left::before{
    content: "\2190";
}
.glyphicon-chevron-right::before{
    content: "\2192";
}
.carousel-control.right{
    background:none;
}
#speakers .dropdown-menu > li > a:hover, #speakers .dropdown-menu > li > a:focus{
    color: #000000;
}
